.linechart{
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}

.linechart > h3 {
   font-family: 'Manrope';
   margin: 0 0 5px 30px;
   color: black;
   font-weight: 500;
   font-size: 24px;
}