.dashboard{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60vw;
    height: 100vh;
    flex-direction: column;
    align-content: flex-start;
    background-color: #F8FBFF;
    flex-wrap: nowrap;
}
.dashboard > button{
    right: 30px;
    top: 30px;
    position: absolute;
    border: 1px solid;
    padding: 20px;
    border-radius: 10px;
    background: transparent;
}

.dashboard > h3{
    font-family: 'Manrope';
    margin: 50px 0 5px 30px;
}

.dashboard > p{
    font-family: 'Manrope';
    margin: 5px 0 5px 30px;
    color: #979797;
}

.wallet{
    width: 25vw;
    height: auto;
    background-color: white;
    border-top: 5px #258AFF solid;
    margin: 50px 0 50px 30px;
    border-radius: 4px 0px 0px 0px;
    font-family: 'Manrope';
    padding-left: 20px;
}

.display > img{
    width: 20px;
}

.wallet > h1{
    font-family: 'Manrope';
    margin: 0;
}

.display > h4{
    color:#20E9BC;
}
.wallet > p{
    color: #979797;
}
.display{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Manrope';
}



.currency{
    width: 18px;
    height: 18px;
    text-align: center;
    background-color:#20E9BC;; 
    color: white;
    border-style: none;
    border-radius: 50%;
    transition: .5s ease;
    opacity:1;
    margin-bottom: 1%;
}

.currency:hover {
    transform: scale(1.5);
  }