.dates > img{
   width: 14px;
   display: flex;
   flex-direction: row;
 }

 .dates{
   display: flex;
   align-items: center;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: flex-start;
 }