.dates > img{
   width: 14px;
   display: flex;
   flex-direction: row;
 }

 .dates{
   display: flex;
   align-items: center;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: flex-start;
 }

 button.send{
   width: 60%;
   height: 30px;
   background-color: #258AFF;
   color: white;
 }

 button.cancel{
   width: 40%;
   height: 30px;
   background-color: #FF374F;
   color: white;
 }

 .pending {
  padding: 10px;
  border: 1px lightgray solid;
  border-radius: 5px;
 }

 .form{
   text-align: center;
 }

 .dates > p{
   color:#D8D8D8;
 }

 .pending > h2{
  margin: 0;
 }

 .pending > p{
  color:#D8D8D8;
 }

 .currency > p{
  color:#D8D8D8;
 }