.addcontact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60vw;
    height: 100vh;
    flex-direction: column;
    background-color: #F8FBFF;
    flex-wrap: nowrap;
    font-family: 'Manrope';
    margin: 0 0 5px 30px;
    color: black;
    font-weight: 500;
    font-size: 24px;
    padding-top: 5vh;
}

.addcontact > h3{
    font-family: 'Manrope';
    margin: 0 0 5px 30px;
    color: black;
    font-weight: 500;
    font-size: 24px;
}

.contact_form > input {
    border-radius: 3px;
    border: none;
    box-shadow: 0px 4px 4px rgb(51 51 51 / 4%), 0px 4px 16px rgb(51 51 51 / 18%);
    padding: 5px;   
    margin-top: 30px;
    width: 250px;
    height: 35px;
}

.contact_form > button {
    margin: 0 0 0 10px;
    background: #258AFF;
    border-radius: 8px;
    height: 40px;
    width: 142px;
    color: white;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.add_user{
    margin-top:20px;
    font-size: 18px;
    color: red;
}