.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;


    width: 25vw;
    height:100vh;
    font-family: 'Manrope', sans-serif;
}

.logo {
    position: relative;
    top: -15vh;
    align-items: center;
    margin:0 auto;
    
}


