@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700&display=swap');

.confirmacionpago {
  height: 100vh;
  width: 100%; 
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #F8FBFF;    
}

.rectangulo {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly ;
  align-items: center;

  background-color: white;
  border: none;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 4px;

  width: 28vw;
  height: 45vh;
}

.formdot{
  position: absolute;
}

.dotpattern {
  position: inherit;
  top: -7vh;
  left: -6vw;
  height: 70%;
  width: 70%;
}

.titulo {
  font-size: 28px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  margin:0 auto;
}


.submit {
  background-color: #258AFF; 
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.14), 0px 4px 16px rgba(51, 51, 51, 0.08);
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  font-size: calc(10px + 1vmin);
  border-radius: 5px;
  width: 15vw;
  cursor : pointer;
}


