.toggle {
  display: none;
 }
 
 .toggle.is-open {
   display: flex;
   overflow-y: auto;
 }
 
 .toggleContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    
 }
 
 .toggleClose {
    position: absolute;
    top: 1rem;
    right: 1rem;
 }

 .request_box{
    height: 150px;
    width: 193px;
    border-radius: 3px;
    border: 1px solid lightgray;
 }

 .request_box > img{
  width: 14px;
}